<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/about.png')
    style
        include ../static/css/navbar.css
    style
        include ../static/css/footer.css
    style
        include ../static/css/about.css
</head>

<body>
    <nav id="navbar" class="h-nav">
        <div class="i1">
            <img src="../static/img/ca.png" alt="loading">
        </div>
        <h2>CODE ARINDAM</h2>
        <ul id="my" class="v-class">
            <li class="list"><a href="/Contact">Contact Me</a></li>
            <li class="list"><a href="/About">About Me</a></li>
            <li class="list"><a href="/Projects">My Projects</a></li>
            <li class="list"><a href="/Web-design">Web Design</a></li>
            <li class="list"><a href="/">Home</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="about">
        <h1>ABOUT ME</h1>
        <div id="container">
            <div class="pr">
                <img src="../static/img/1.jpg" alt="image">
            </div>
            <div class="c">
                <p>Name: Arindam Mondal</p>
                <p>Occupation: Proggramer</p>
                <p>Address : Goramahal, Moyna, Purba Mednipur, WB , 721642</p>
                <p>Phone Number: +918327282965</p>
                <p>Email: marindam2017@gmail.com</p>
            </div>
        </div>
    </section>
        <div class="lnk">
        <a href="https://www.facebook.com/profile.php?id=1000699388202128" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/arindam_kumar_mondal/" target="_blank">Instagram</a>
        <a href="https://www.youtube.com/channel/UCxsmJsQCn0EDPjs-A1bLvWg" target="_blank">Youtube</a>
        <a href="marindam2017@gmail.com" target="_blank">Email</a>
    </div>
    <footer>
        <h4>This Website Created By Arindam 2022&copy;</h4>
    </footer>
</body>
    script
        include ../static/js/nav-toggle.js

</html>