<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/index.png')
    style
        include ../static/css/navbar.css
    style
        include ../static/css/footer.css
    style
        include ../static/css/index.css
    script
        include ../static/js/promt.js
</head>

<body>
    <nav id="navbar" class="h-nav">
        <div class="i1">
            <img src="../static/img/ca.png" alt="loading">
        </div>
        <h2>CODE ARINDAM</h2>
        <ul id="my" class="v-class">
            <li class="list"><a href="/Contact">Contact Me</a></li>
            <li class="list"><a href="/About">About Me</a></li>
            <li class="list"><a href="#Quotes">Quotes</a></li>
            <li class="list"><a href="/Projects">My Projects</a></li>
            <li class="list"><a href="/Web-design">Web Design</a></li>
            <li class="list"><a href="/">Home</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="index">
        <div id="welcome">
            <img src="../static/img/text.gif" alt="loading">
        </div>
        <div id="head1">
            <h1>Code Arindam</h1>
            <p> For Best Ever Web-design & Codding & Fun for go ahed
            </p>
            <button id="btn">
                <a href="/Web-design">
                    Explore Codes!
                </a>
            </button>
        </div>
    </section>
    <section id="Quotes">
        <div class="test">
            <h1>Motivation Quotes</h1>
        </div>
        <div class="quotes">
            <div class="q1">
                <p>“I am enough of an artist to draw freely upon my imagination. Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.” ― Albert Einstein</p>
            </div>
            <div class="q2">
                <p>“Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.” – Albert Einstein</p>
            </div>
        </div>
    </section>
    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-4835378757253642')
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
</body>
    script
        include ../static/js/nav-toggle.js
<footer>
    <h4>This Website Created By Arindam 2022&copy;
    </h4>
</footer>

</html>