<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Design</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/navbar.png')
    style
        include ../static/css/Navsite.css
</head>
<body>
    <div class="he1">
        <h1>Welcome To Navbar Designs Page 4</h1>
        <div class="b">
            <button><a href="/"> HOME</a></button>
            <button><a href="/Navbar3">Previous Page</a></button>
        </div>
    </div>
    <section class="n3">
        <h2>Style 10 : Navbar Color Hover</h2>
        <img class="img-main" src="../static/img/Navbar/10.jpg" alt="loading">
        <h1>Code For Style 10</h1>
        <pre class="code3">
            <code data-lang="html" class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |*{
                    |    padding: 0px;
                    |    margin: 0px;
                    |}
                    |#navbar{
                    |    height: 18vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    align-items: center;
                    |    background-color: rgb(0, 0, 0);
                    |}
                    |#nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |    margin-bottom: 30px;
                    |}
                    |#nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 20px;
                    |    margin-top: 35px;
                    |}
                    |#navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 22px;
                    |    font-weight: bold;
                    |}
                    |#navbar #nav-main .list a:hover {
                    |    color: red;
                    |    font-size: 28px;
                    |}
                    |#search{
                    |    height: 5vh;
                    |    width: 15vw;
                    |    border-style: none;
                    |    border: 1px solid rgb(255, 255, 255);
                    |    border-radius: 5px;
                    |    position: relative;
                    |    top: 18px;
                    |    left: 28vw;
                    |}
                    |#nav-main h1{
                    |    position: relative;
                    |    top: 20px;
                    |    left: 11vw;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 2rem;
                    |    font-weight: bold;
                    |    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>h1></span> <span>Code Arindam</span> <span><</span><span>/</span><span>h1></span>
                            <span><</span><span>input</span> <span>id="search"</span> <span>type="text"</span> <span>placeholder="Search On website"</span><span>></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>

    <section class="n3">
        <h2>Style 11 : Navbar Hover With Color & Background</h2>
        <img class="img-main" src="../static/img/Navbar/11.jpg" alt="loading">
        <h1>Code For Style 11</h1>
        <pre class="code3">
            <code data-lang="html" class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |*{
                    |    padding: 0px;
                    |    margin: 0px;
                    |}
                    |#navbar{
                    |    height: 18vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    align-items: center;
                    |    background-color: rgb(0, 0, 0);
                    |}
                    |#nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |    margin-bottom: 30px;
                    |}
                    |#nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 20px;
                    |    margin-top: 35px;
                    |}
                    |#navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 22px;
                    |    font-weight: bold;
                    |}
                    |#navbar #nav-main .list a:hover {
                    |    color: red;
                    |    font-size: 28px;
                    |    background-color: rgb(51, 255, 0);
                    |}
                    |#search{
                    |    height: 5vh;
                    |    width: 15vw;
                    |    border-style: none;
                    |    border: 1px solid rgb(255, 255, 255);
                    |    border-radius: 5px;
                    |    position: relative;
                    |    top: 18px;
                    |    left: 28vw;
                    |}
                    |#nav-main h1{
                    |    position: relative;
                    |    top: 20px;
                    |    left: 11vw;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 2rem;
                    |    font-weight: bold;
                    |    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>h1></span> <span>Code Arindam</span> <span><</span><span>/</span><span>h1></span>
                            <span><</span><span>input</span> <span>id="search"</span> <span>type="text"</span> <span>placeholder="Search On website"</span><span>></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>

    <section class="n3">
        <h2>Style 12 : Sticky Navbar</h2>
        <img class="img-main" src="../static/img/Navbar/12.jpg" alt="loading">
        <h1>Code For Style 12</h1>
        <pre class="code3">
            <code data-lang="html" class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |*{
                    |    padding: 0px;
                    |    margin: 0px;
                    |}
                    |#navbar{
                    |    height: 18vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    align-items: center;
                    |    background-color: rgb(0, 0, 0);
                    |    position: sticky;
                    |    top: 0px;
                    |    left: 0px; 
                    |}
                    |#nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |    margin-bottom: 30px;
                    |}
                    |#nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 20px;
                    |    margin-top: 35px;
                    |}
                    |#navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 22px;
                    |    font-weight: bold;
                    |}
                    |#navbar #nav-main .list a:hover {
                    |    color: red;
                    |    font-size: 28px;
                    |    background-color: rgb(51, 255, 0);
                    |}
                    |#search{
                    |    height: 5vh;
                    |    width: 15vw;
                    |    border-style: none;
                    |    border: 1px solid rgb(255, 255, 255);
                    |    border-radius: 5px;
                    |    position: relative;
                    |    top: 18px;
                    |    left: 28vw;
                    |}
                    |#nav-main h1{
                    |    position: relative;
                    |    top: 20px;
                    |    left: 11vw;
                    |    color: rgb(255, 255, 255);
                    |    font-size: 2rem;
                    |    font-weight: bold;
                    |    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>h1></span> <span>Code Arindam</span> <span><</span><span>/</span><span>h1></span>
                            <span><</span><span>input</span> <span>id="search"</span> <span>type="text"</span> <span>placeholder="Search On website"</span><span>></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>
</body>
</html>