<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Designs</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/navbar.png')

    style
        include ../static/css/Navsite.css

</head>
<body>
    <div class="he1">
        <h1>Welcome To Navbar Designs Page</h1>
        <div class="b">
            <button><a href="/Navbar2">Next Page</a></button>
        </div>
    </div>
    <section class="n1">
        <h2>Style 1 : Dark Theme & Simple Navbar</h2>
        <img class="img-main" src="../static/img/Navbar/1.jpg" alt="loading">
        <h1>Code For Style 1</h1>
        <pre class="code1">
            <code class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |navbar{
                    |    height: 10vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    background-color: black;
                    |}
                    |
                    |nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |}
                    |
                    |nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 10px;
                    |}
                    |navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: white;
                    |    font-size: 20px;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>

    <section class="n1">
        <h2>Style 2 : Blue Theme & Simple Navbar</h2>
        <img class="img-main" src="../static/img/Navbar/2.jpg" alt="loading">
        <h1>Code For Style 2</h1>
        <pre class="code1">
            <code class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |navbar{
                    |    height: 10vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    background-color: blue;
                    |}
                    |
                    |nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |}
                    |
                    |nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 10px;
                    |}
                    |navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: white;
                    |    font-size: 20px;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>

    <section class="n1">
        <h2>Style 3 : White Theme & Simple Navbar</h2>
        <img class="img-main" src="../static/img/Navbar/3.jpg" alt="loading">
        <h1>Code For Style 3</h1>
        <pre class="code1">
            <code class="main">
                <span><</span><span>!DOCTYPE</span> <span>html></span>
                <span><</span><span>html</span> <span>lang="en"></span>
                <span><</span><span>head></span>
                    <span><</span><span>meta</span> <span>charset="UTF-8"></span>
                    <span><</span><span>meta</span> <span>http-equiv="X-UA-Compatible"></span>
                    <span><</span><span>meta</span> <span>name="viewport"</span><span>content="width=device-width, initial-scale=1.0"></span>
                    <span><</span><span>title></span> <span>TITLE</span> <span><</span><span>/</span><span>title></span>
                <span><</span><span>/</span><span>head></span>
                
                <pre>
                    <span><</span><span>style></span>
                    |
                    |navbar{
                    |    height: 10vh;
                    |    width: 100%;
                    |    display: flex;
                    |    flex-direction: row;
                    |    background-color: whitesmoke;
                    |}
                    |
                    |nav-main{
                    |    display: flex;
                    |    flex-direction: row;
                    |}
                    |
                    |nav-main .list{
                    |    list-style: none;
                    |    padding: 0px 10px;
                    |}
                    |navbar #nav-main .list a{
                    |    text-decoration: none;
                    |    color: white;
                    |    font-size: 20px;
                    |}
                    |
                    <span><</span><span>/</span><span>style></span>
                </pre>
                
                <span><</span><span>/</span><span>body></span>
                    <span><</span><span>nav</span> <span>id="navbar"></span>
                        <span><</span><span>ul</span> <span>id="nav-main"></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Home</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Services</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>Contact Us</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                            <span><</span><span>li</span> <span>class="list"></span><span><</span><span>a</span> <span>href="#"></span> <span>About Me</span> <span><</span><span>/</span><span>a></span><span><</span><span>/</span><span>li></span>
                        <span><</span><span>/</span><span>ul></span>
                    <span><</span><span>/</span><span>nav></span>
                <span><</span><span>body></span>
                <span><</span><span>/</span><span>html></span>
            </code>
        </pre>
    </section>
</body>
</html>