<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Zone</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/photogram.png')
    style
        include ../static/css/navbar.css
    style
        include ../static/css/footer.css
    style
        include ../static/css/photogram.css
</head>

<body>
    <nav id="navbar" class="h-nav">
        <div class="i1">
            <img src="../static/img/ca.png" alt="loading">
        </div>
        <h2>CODE ARINDAM</h2>
        <ul id="my" class="v-class">
            <li class="list"><a href="/Contact">Contact Me</a></li>
            <li class="list"><a href="/About">About Me</a></li>
            <li class="list"><a href="/Photogram">Photogram</a></li>
            <li class="list"><a href="/Web-design">Web Design</a></li>
            <li class="list"><a href="/">Home</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="img">
        <div class="head2">
            <h1>Welcome To My Images Gallary</h1>
        </div>
        <div class="container">
            <div class="p">
                <img src="../static/photos/1.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/2.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/3.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/4.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/5.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/6.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/7.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/8.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/9.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
            <div class="p">
                <img src="../static/photos/10.jpg" alt="" class="photo" width="250px" height="300px">
            </div>
    </section>
</body>
    script
        include ../static/js/nav-toggle.js
<footer>
    <h4>This Website Created By Arindam 2022&copy;
    </h4>
</footer>

</html>