<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Projects</title>
        link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/favicon.ico')
    style
        include ../static/css/navbar.css
    style
        include ../static/css/footer.css
    style
        include ../static/css/projects.css

</head>
<body>
    <nav id="navbar" class="h-nav">
        <div class="i1">
            <img src="../static/img/ca.png" alt="loading">
        </div>
        <h2>CODE ARINDAM</h2>
        <ul id="my" class="v-class">
            <li class="list"><a href="/Contact">Contact Me</a></li>
            <li class="list"><a href="/About">About Me</a></li>
            <li class="list"><a href="/Projects">My Projects</a></li>
            <li class="list"><a href="/Web-design">Web Design</a></li>
            <li class="list"><a href="/">Home</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="project">
        <div class="python">
            <a href="/Python">Python World</a>
        </div>
    </section>
    <footer>
        <h4>This Website Created By Arindam 2022&copy;</h4>
    </footer>
</body>
    script
        include ../static/js/nav-toggle.js
</html>