<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Projects</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../static/img/Favicon/favicon.ico')
    style
        include ../static/css/python.css
</head>
<body>
    <div class="i">
        <img src="../static/img/project/py.gif" alt="on load">
    </div>
    <div class="bot">
        <button><a href="/Projects">Code Page</a></button>
        <button><a href="/">Home Page</a></button>
    </div>
    <section id="python">
        <div class="py-style">
            <a href="/Pygame">PYGAME PROJECTS</a>
        </div>
        <div class="py-style">
            <a href="/Tkinter">TKINTER PROJECTS</a>
        </div>
        <div class="py-style">
            <a href="/Turtle">TURTLE PROJECTS</a>
        </div>
    </section>
</body>
</html>