<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Designs</title>
    <link rel="shortcut icon" href="../static/img/Favicon/web.png" type="image/x-icon">
    style
        include ../static/css/navbar.css
    style
        include ../static/css/website.css

</head>
<style>
</style>
<body>
    <nav id="navbar" class="h-nav">
        <div class="i1">
            <img src="../static/img/ca.png" alt="loading">
        </div>
        <h2>CODE ARINDAM</h2>
        <ul id="my" class="v-class">
            <li class="list"><a href="/Contact">Contact Me</a></li>
            <li class="list"><a href="/About">About Me</a></li>
            <li class="list"><a href="/Projects">My Projects</a></li>
            <li class="list"><a href="/Web-design">Web Design</a></li>
            <li class="list"><a href="/">Home</a></li>
        </ul>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section id="web">
        <h1>THIS IS WEBMASTER DESIGNER ZONE</h1>
        <P>A successful website does three things:
            It attracts the right kinds of visitors.
            Guides them to the main services or product you offer.
            Collect Contact details for future ongoing relation.
        </P>
        <div class="navb">
            <button id="b1"><a href="/Navbar" target="_blank"> Navbar Designs</a></button>
        </div>
    </section>
</body>
    script
        include ../static/js/nav-toggle.js
</html>