<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tkinter Projects</title>
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='../../static/img/Favicon/favicon.ico')
    style
        include ../../static/css/Python/tkinter.css
    style
        include ../../static/css/footer.css
</head>
<body>
    <section class="main">
        <div class="hd">
            <img src="../static/img/project/tk.jpg" alt="">
            <h1>Welcome To Tkinter Projects</h1>
        </div>
        <div class="bot">
            <button><a href="/Python">Code Page</a></button>
            <button><a href="#main2">GUI Page</a></button>
            <button><a href="/">Home Page</a></button>
        </div>
        <hr>
        <div class="hd2">
            <h1>What IS Use Of Python Tkinter?</h1>
            <p>Tkinter is the de facto way in Python to create Graphical User interfaces (GUIs) and is included in all standard Python Distributions. In fact, it's the only framework built into the Python standard library.</p>
        </div>
        <div class="hd3">
            <h4>What Is Tkinter Proggramming?</h4>
            <p>Tkinter is the standard GUI library for Python. Python when combined with Tkinter provides a fast and easy way to create GUI applications. Tkinter provides a powerful object-oriented interface to the Tk GUI toolkit. Creating a GUI application using Tkinter is an easy task.</p>
        </div>
    </section>
    <hr>
    <section id="main2">
        <h2>My GUI Projects Name</h2>
        <div class="bt">
            <button><a href="/Calculator">Calculator GUI</a></button>
            <button><a href="#">BioData GUI</a></button>
            <button><a href="#">NotePad GUI</a></button>
        </div>
    </section>
    <footer>
        <h4>This Website Created By Arindam 2022&copy;</h4>
    </footer>
</body>
</html>